.navigation {
    display: none;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 140px;
    } 
    &__item:not(:last-child) {
        margin-right: 35px;
    }

    &__link {  
        display: block;
        position: relative;
        font-family: var(--fontFamaly-secondary);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        align-items: center;
        padding: 8px 0; 
        color: var(--colorText-secondary);
        transform: scale(1);
        transition: color var(--default-transition),
        transform var(--default-transition);
        // font-size var(--default-transition);

        /* Навігація ховер, фокус */
            &:hover,
            &:focus {
                color: var(--colorText-primary);
                transform: scale(1.1);
                // font-size: 18px;
            }
    }

    @include media-min (1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}