/* Oсобисті дані */
.button-header {
    display: none;
    border: none;
    border-radius: 22px;
    width: 160px;
    height: 44px;
    color: var(--colorText-primary);
    background-color: var(--colorText-secondary);
    transform: scale(1);
    &:hover,
    &:focus {
        background-color: var(--bgc-btnHover);
        transform: scale(1.1);
    }
    &::after {
        content: '';
        display: block;
        width: 6px;
        height: 10px;
        margin-left: 12px;
        background-image: url(../images/icons/Vector.svg);
      }
 
    @include media-min (768px) {
        display: flex;
        cursor: pointer;
    } 
}
