<!--advantages styles-->

<section class="advantages">
  <h2 class="advantages__name visually-hidden">Advantages</h2>

  <ul class="advantages__list container">
    <li class="advantages__item">
      <p class="advantages__title icon">721</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <p class="advantages__title apples">16kg</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__item">
      <p class="advantages__title heart">84</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
