<section class="contact">
    <ul class="contact-list">
        <li class="contact-item">
          <p class="contact-item__category"> CAFE</p>
          <div class="contact-item__information">
              <h3 class="contact-item__sity">Chicago</h3>
              <p class="contact-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <ul class="contact-item__schedule">
                <li class="contact-item__element">
                    <p class="contact-item__day">Monday - Friday</p>
                    <p class="contact-item__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="contact-item__element">
                    <p class="contact-item__day">Saturday - Sunday</p>
                    <p class="contact-item__time">08:00 AM - 16:00 PM</p>
                </li>
          </ul>
          <ul class="contact-item__data">
                <li><a href="tel:+610383766284" class="contacts-card__link">+61(0) 383 766 284 </a></li>
                <li><a href="mailto:noreply@envato.com" class="contacts-card__link">noreply@envato.com</a></li>
          </ul>
        </li>
        <li class="contact-item">
            <p class="contact-item__category">FOODTRUCK</p>
            <div class="contact-item__information">
                <h3 class="contact-item__sity">Los Angeles</h3>
                <p class="contact-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="contact-item__schedule">
                  <li class="contact-item__element">
                      <p class="contact-item__day">Monday - Friday</p>
                      <p class="contact-item__time">06:00 AM - 10:00 PM</p>
                  </li>
                  <li class="contact-item__element">
                      <p class="contact-item__day">Saturday - Sunday</p>
                      <p class="contact-item__time">08:00 AM - 16:00 PM</p>
                  </li>
            </ul>
            <ul class="contact-item__data">
                  <li><a href="tel:+610383766284" class="contacts-card__link">+61(0) 383 766 284 </a></li>
                  <li><a href="mailto:noreply@envato.com" class="contacts-card__link">noreply@envato.com</a></li>
            </ul>
        </li>
        <li class="contact-item">
            <p class="contact-item__category">CAFE</p>
            <div class="contact-item__information">
                <h3 class="contact-item__sity">New York</h3>
                <p class="contact-item__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <ul class="contact-item__schedule">
                  <li class="contact-item__element">
                      <p class="contact-item__day">Monday - Friday</p>
                      <p class="contact-item__time">06:00 AM - 10:00 PM</p>
                  </li>
                  <li class="contact-item__element">
                      <p class="contact-item__day">Saturday - Sunday</p>
                      <p class="contact-item__time">08:00 AM - 16:00 PM</p>
                  </li>
            </ul>
            <ul class="contact-item__data">
                  <li><a href="tel:+610383766284" class="contacts-card__link">+61(0) 383 766 284 </a></li>
                  <li><a href="mailto:noreply@envato.com" class="contacts-card__link">noreply@envato.com</a></li>
            </ul>
        </li>
    </ul>
    <ul class="contact-button">
        <li class="contact-button__item">
            <button class="contact-button__element" >Our Locations</button>
        </li>
        <li class="contact-button__item">
            <button class="contact-button__element" >Franchise</button>
        </li>
    </ul>
</section>