
<section class="section">
    <div class="gallery-conteiner">
        <h2></h2>
        <ul class="gallery">
            <li class="gallery__iteme">
                <div class="gallery__box">

                    <picture>
                        <source
                            srcset="../images/gallery/gallery-one-mobile@1x.webp 1x, ../images/gallery/gallery-one-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-one-mobile@1x.jpg 1x, ../images/gallery/gallery-one-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-one-tablet@1x.webp 1x, ../images/gallery/gallery-one-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-one-tablet@1x.jpg 1x, ../images/gallery/gallery-one-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-one-desktop@1x.webp 1x, ../images/gallery/gallery-one-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-one-desktop@1x.jpg 1x, ../images/gallery/gallery-one-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">
    
                        <img class="gallery__image" src="../images/gallery/gallery-one-desktop@1x.jpg" 
                            alt="Green ice cream on stick" >
                    </picture> 
                </div>
            </li>
            <li  class="gallery__iteme">
                <div class="gallery__box">

                    <picture>
                        <source
                            srcset="../images/gallery/gallery-two-mobile@1x.webp 1x, ../images/gallery/gallery-two-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-two-mobile@1x.jpg 1x, ../images/gallery/gallery-two-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-two-tablet@1x.webp 1x, ../images/gallery/gallery-two-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-two-tablet@1x.jpg 1x, ../images/gallery/gallery-two-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-two-desktop@1x.webp 1x, ../images/gallery/gallery-two-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-two-desktop@1x.jpg 1x, ../images/gallery/gallery-two-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">
    
                        <img class="gallery__image" src="../images/gallery/gallery-two-desktop@1x.jpg" loading="lazy"
                            alt="Pink ice cream on stick">
                    </picture>
                    <picture>
                        <source
                            srcset="../images/gallery/gallery-six-mobile@1x.webp 1x, ../images/gallery/gallery-six-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-six-mobile@1x.jpg 1x, ../images/gallery/gallery-six-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-six-tablet@1x.webp 1x, ../images/gallery/gallery-six-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-six-tablet@1x.jpg 1x, ../images/gallery/gallery-six-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-six-desktop@1x.webp 1x, ../images/gallery/gallery-six-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-six-desktop@1x.jpg 1x, ../images/gallery/gallery-six-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">
    
                        <img class="gallery__image" src="../images/gallery/gallery-six-desktop@1x.jpg" loading="lazy"
                            alt="Set of ice cream in a waffle cones">
                    </picture>
                </div>
            </li>
            <li  class="gallery__iteme">
                <div class="gallery__box">

                    <picture>
                        <source
                            srcset="../images/gallery/gallery-three-mobile@1x.webp 1x, ../images/gallery/gallery-three-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-three-mobile@1x.jpg 1x, ../images/gallery/gallery-three-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-three-tablet@1x.webp 1x, ../images/gallery/gallery-three-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-three-tablet@1x.jpg 1x, ../images/gallery/gallery-three-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
    
                        <source
                            srcset="../images/gallery/gallery-three-desktop@1x.webp 1x, ../images/gallery/gallery-three-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-three-desktop@1x.jpg 1x, ../images/gallery/gallery-three-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">
    
                        <img class="gallery__image" src="../images/gallery/gallery-three-desktop@1x.jpg" loading="lazy"
                            alt="Set of ice cream in a waffle cones">
                    </picture>
                    <picture>
                        <source
                            srcset="../images/gallery/gallery-seven-mobile@1x.webp 1x, ../images/gallery/gallery-seven-mobile@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-seven-mobile@1x.jpg 1x, ../images/gallery/gallery-seven-mobile@2x.jpg 2x"
                            media="(max-width: 767px)" type="image/jpg">
        
                        <source
                            srcset="../images/gallery/gallery-seven-tablet@1x.webp 1x, ../images/gallery/gallery-seven-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-seven-tablet@1x.jpg 1x, ../images/gallery/gallery-seven-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
        
                        <source
                            srcset="../images/gallery/gallery-seven-desktop@1x.webp 1x, ../images/gallery/gallery-seven-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                        <source
                            srcset="../images/gallery/gallery-seven-desktop@1x.jpg 1x, ../images/gallery/gallery-seven-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">
        
                        <img class="gallery__image" src="../images/gallery/gallery-seven-desktop@1x.jpg" 
                            alt="Green ice cream on stick">
                    </picture>
                </div>
            </li>
            <li  class="gallery__iteme">
                <div class="gallery__box">

                    <picture>
                        <source
                        srcset="../images/gallery/gallery-four-mobile@1x.webp 1x, ../images/gallery/gallery-four-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-four-mobile@1x.jpg 1x, ../images/gallery/gallery-four-mobile@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-four-tablet@1x.webp 1x, ../images/gallery/gallery-four-tablet@2x.webp 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-four-tablet@1x.jpg 1x, ../images/gallery/gallery-four-tablet@2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-four-desktop@1x.webp 1x, ../images/gallery/gallery-four-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-four-desktop@1x.jpg 1x, ../images/gallery/gallery-four-desktop@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg">
                        
                        <img class="gallery__image" src="../images/gallery/gallery-four-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in a waffle cone on yelow background">
                    </picture>
                    <picture>
                        <source
                        srcset="../images/gallery/gallery-eight-mobile@1x.webp 1x, ../images/gallery/gallery-eight-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-eight-mobile@1x.jpg 1x, ../images/gallery/gallery-eight-mobile@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg">
                        
                        <source
                            srcset="../images/gallery/gallery-eight-tablet@1x.webp 1x, ../images/gallery/gallery-eight-tablet@2x.webp 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                            <source
                            srcset="../images/gallery/gallery-eight-tablet@1x.jpg 1x, ../images/gallery/gallery-eight-tablet@2x.jpg 2x"
                            media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
                            
                            <source
                            srcset="../images/gallery/gallery-eight-desktop@1x.webp 1x, ../images/gallery/gallery-eight-desktop@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp">
                            <source
                            srcset="../images/gallery/gallery-eight-desktop@1x.jpg 1x, ../images/gallery/gallery-eight-desktop@2x.jpg 2x"
                            media="(min-width: 1200px)" type="image/jpg">
                            
                            <img class="gallery__image" src="../images/gallery/gallery-eight-desktop@1x.jpg" loading="lazy"
                                alt="An ice cream in a waffle cone on yelow background">
                        </picture>
                    </div>
            </li>
            <li  class="gallery__iteme">
                <div class="gallery__box">

                    <picture>
                        <source
                        srcset="../images/gallery/gallery-five-mobile@1x.webp 1x, ../images/gallery/gallery-five-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-five-mobile@1x.jpg 1x, ../images/gallery/gallery-five-mobile@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-five-tablet@1x.webp 1x, ../images/gallery/gallery-five-tablet@2x.webp 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-five-tablet@1x.jpg 1x, ../images/gallery/gallery-five-tablet@2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-five-desktop@1x.webp 1x, ../images/gallery/gallery-five-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-five-desktop@1x.jpg 1x, ../images/gallery/gallery-five-desktop@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg">
                        
                        <img class="gallery__image" src="../images/gallery/gallery-five-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in a waffle cone on yelow background">
                    </picture>
                    <picture>
                        <source
                        srcset="../images/gallery/gallery-nine-mobile@1x.webp 1x, ../images/gallery/gallery-nine-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-nine-mobile@1x.jpg 1x, ../images/gallery/gallery-nine-mobile@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-nine-tablet@1x.webp 1x, ../images/gallery/gallery-nine-tablet@2x.webp 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-nine-tablet@1x.jpg 1x, ../images/gallery/gallery-nine-tablet@2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-nine-desktop@1x.webp 1x, ../images/gallery/gallery-nine-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-nine-desktop@1x.jpg 1x, ../images/gallery/gallery-nine-desktop@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg">
                        
                        <img class="gallery__image" src="../images/gallery/gallery-nine-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in a waffle cone on yelow background">
                    </picture>
                </div>
                
            </li>
            <li  class="gallery__iteme">
                <div class="gallery__box">

                    <picture>
                        <source
                        srcset="../images/gallery/gallery-ten-mobile@1x.webp 1x, ../images/gallery/gallery-ten-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-ten-mobile@1x.jpg 1x, ../images/gallery/gallery-ten-mobile@2x.jpg 2x"
                        media="(max-width: 767px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-ten-tablet@1x.webp 1x, ../images/gallery/gallery-ten-tablet@2x.webp 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-ten-tablet@1x.jpg 1x, ../images/gallery/gallery-ten-tablet@2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1199px)" type="image/jpg">
                        
                        <source
                        srcset="../images/gallery/gallery-ten-desktop@1x.webp 1x, ../images/gallery/gallery-ten-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp">
                        <source
                        srcset="../images/gallery/gallery-ten-desktop@1x.jpg 1x, ../images/gallery/gallery-ten-desktop@2x.jpg 2x"
                        media="(min-width: 1200px)" type="image/jpg">
                        
                        <img class="gallery__image" src="../images/gallery/gallery-ten-desktop@1x.jpg" loading="lazy"
                            alt="An ice cream in a waffle cone on yelow background">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>