
<div class="header-nav" id="home">
    <div class="container">
      <div class="header-nav__thumb header-nav__outer-margin">
        <!-- Логотип -->
        <a class="logo link" href="./index.html" aria-label="logo">
          <svg class="logo__thumb-icon">
            <use
              class="logo__icon"
              href="./images/icons/sprite.svg#icon-logo"
            ></use>
          </svg>
        </a>
        <div class="menu-thumb">
          <div class="button-thumb">
            <button class="button-menu" type="button" aria-label="burger-menu" data-mobile-menu-open>
              <svg class="button-menu__thumb-icon">
                <use 
                  class="button-menu__icon"
                  href=".s/images/icons/sprite.svg#icon-burger"
                ></use>
              </svg>
            </button>
          </div>
          <nav class="navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="link navigation__link" href="#home">Home</a>
              </li>
              <li class="navigation__item">
                <a class="link navigation__link" href="#about">About us</a>
              </li>
              <li class="navigation__item">
                <a class="link navigation__link" href="#about">How it’s made?</a>
              </li>
              <li class="navigation__item">
                <a class="link navigation__link" href="#products">Our products</a>
              </li>
              <li class="navigation__item">
                <a class="link navigation__link" href="#contacts">Contact</a>
              </li>
            </ul>
          </nav>
          <button class="button-header button" type="button" data-modal-buy-open>Buy now</button>
        </div>
      </div>
    </div>
  </div>
  