<!-- Мобільне меню -->
<div class="backdrop-mobile is-hidden" data-mobile-menu>
  <div class="backdrop-mobile__container">
    <div class="mobile-menu">
      <button class="mobile-menu__button" type="button" aria-label="close-button" data-mobile-menu-close>
        <svg class="mobile-menu__icon-thumb">
          <use
            class="mobile-menu__icon"
            href="./images/icons/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
      <!-- Кнопка бай нав -->
      <div class="button-container">
        <button class="button-mobile button" type="button" aria-label="buy-button" data-modal-mobile-buy-open>Buy now</button>
      </div>
      <!-- Мобільна навігація -->
      <div class="navigation-mobile">
        <ul class="navigation-mobile__list">
          <li class="navigation-mobile__item">
            <a class="link navigation-mobile__link" href="#home">Home</a>
          </li>
          <li class="navigation-mobile__item">
            <a class="link navigation-mobile__link" href="#about">About us</a>
          </li>
          <li class="navigation-mobile__item">
            <a class="link navigation-mobile__link" href="#about">How it’s made?</a>
          </li>
          <li class="navigation-mobile__item">
            <a class="link navigation-mobile__link" href="#products">Our products</a>
          </li>
          <li class="navigation-mobile__item">
            <a class="link navigation-mobile__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
