<div class="backdrop is-hidden "data-modal-location>
    <div class="locations" data-modal-location>
        <button  class="locations__button-clouse "data-modal-location-close>
            <svg class="locations__icone-clouse" width="11" height="11" aria-hidden="true">
                <use  href="./images/icons/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p  class="locations__title">Where we are</p>
        
        <iframe class="locations__map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20599.44094328734!2d24.8965156!3d49.806181450000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1699800010958!5m2!1suk!2sua" 
            swidth="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
       
        <ul class="locations__data">
            <li><a href="tel:+610383766284" class="contact-item__link">+61(0) 383 766 284 </a></li>
            <li><a href="mailto:noreply@envato.com" class="contact-item__link">noreply@envato.com</a></li>
      </ul>
    </div>
</div>