

<div class="backdrop-question is-hidden" data-modal-question>
    <form>
      <div class="question-modal">
        <h2 class="question-modal__title title">Leave your questions here</h2>
        <label class="question-modal__coment">
          Question:
          <textarea
            name="feedback"
            rows="5"
            placeholder="Enter the text"
            class="question-modal__form"
          ></textarea>
        </label>
        <button type="submit" class="question-modal__btn button">Send</button>
  
        <button class="question-modal__btn-close" data-modal-question-close>
          <svg class="question-modal__icon">
            <use
              class="mobile-menu__icon"
              href="./images/icons/sprite.svg#icon-close"
            ></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <button class="question-modal__btn-open" aria-label="open-button" data-modal-question-open>
    <svg class="icon-icecream">
      <use href="./images/icons/ice-cream.svg#icon-icecream"></use>
    </svg>
  </button>
  