<div class="backdrop is-hidden" data-modal-about>
    <div class="modal-list">
        <button class="modal-list__close-button" type="button" aria-label="close-button" data-modal-about-close>
            <svg class="modal__close-icon" width="11" height="11" aria-hidden="true">
                <use class="modal-about__image" href="./images/icons/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="modal-inner modal-about">
            <img class="modal-about__image" src="./images/modal/handle-icecream.jpg" alt="handle ice cream">

            <b class="modal-about__text">POWERFUL MANUFACTURER</b>

            <ul class="modal-about__list">

                <li class="modal-about__item">
                    <p class="modal-about__item-text">2 modern production facilities in USA</p>
                </li>

                <li class="modal-about__item">
                    <p class="modal-about__item-text">International certificates of the quality management system and
                        food safety for ice cream production were received.</p>
                </li>

                <li class="modal-about__item">
                    <p class="modal-about__item-text">Private label products are produced.</p>
                </li>

                <li class="modal-about__item">
                    <p class="modal-about__item-text">We regularly supply our products to the other countries of the
                        world.</p>
                </li>

            </ul>
            <b class="modal-about__text">HIGH RESULT AT THE INTERNATIONAL LEVEL</b>

            <p class="modal-about__info-text">The main goal of our company has always been associated with the
                undeniable quality and food
                safety of its products. That is why, in order to achieve high results, we regularly undergo an audit for
                compliance with
                the requirements of international standards <a href="https://uk.wikipedia.org/wiki/ISO_22000" class="modal-about__info-text-link">FSSC 22000</a>(Food Safety System Certification 22000), IFS
                Food (International
                Featured Standard) and ISO 9001(Quality Management System) that guarantees quality and safety of our
                products to our
                consumers.

                “Our company confirms this great responsibility by the fact that almost 20 years ago, in 2001, we passed
                the first <a href="https://uk.wikipedia.org/wiki/ISO_9001:2000" class="modal-about__info-text-link">ISO 9001</a> certification, and in 2012 our company was the first among ice cream producers that pass a
                certification audit in
                accordance with the requirements of the 5 th version of IFS international standard (International
                Featured Standard
                Food). Today, according to version 6.1, this check for compliance with 400 criteria is a difficult test
                even for leading
                European companies,” Our CEO proudly tells about the achievements.</p>




        </div>
    </div>
</div>