<section>
    <h2></h2>
    <div class="container">
        <div>
            <picture>
                <source
                    srcset="./images/reviews/reviews1.webp 1x, ./images/reviews/reviews1@2x.webp 2x"
                    type="image/webp" />
                <source
                    srcset="./images/reviews/reviews1.png 1x, ./images/reviews/reviews1@2x.png 2x"
                    type="image/jpeg" />
                <img src="./images/reviews/reviews1.png" alt="Emily's photo">
            </picture>
        </div>
        <div>
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div>
            <picture>
                <source
                    srcset="./images/reviews/reviews2.webp 1x, ./images/reviews/reviews2@2x.webp 2x"
                    type="image/webp" />
                <source
                    srcset="./images/reviews/reviews2.png 1x, ../images/reviews/reviews2@2x.png 2x"
                    type="image/jpeg" />
                <img src="./images/reviews/reviews2.png" alt="Angela's photo">
            </picture>
        </div>
        <div>
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        <div>
            <picture>
                <source
                    srcset="./images/reviews/reviews3.webp 1x, ./images/reviews/reviews3@2x.webp 2x"
                    type="image/webp" />
                <source
                    srcset="./images/reviews/reviews3.png 1x, ./images/reviews/reviews3@2x.png 2x"
                    type="image/jpeg" />
                <img src="./images/reviews/reviews3.png" alt="Emily's photo">
            </picture>
        </div>
        <div>
            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
    </div>
</section>